.task-container {
    height: 7vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    position: relative;
    margin: 1vw auto;
    border: solid 1px rgba(77, 77, 77, 0.14);
    justify-content: space-between;
    border-radius: 25px;
}

.todo-task {
    background: #ffffff;
}

.completed-task {
    background: #CDE5D3;
}

.task-title {
    margin: auto 0 auto;
    padding: 0 1vw 0 1vw;
    font-size: 26pt;
}

.button-container {
    display: flex;
}


.button-container:hover {
    background-color: #d1d1d1;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    user-select: none;
}

.edit-option {
    font-size: 18pt;
    margin: auto 0 auto;
    padding: 0 1vw 0 1vw;
}