.delete-button-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.delete-button-container:hover {
    background-color: rgb(224, 224, 224);
}

.delete-button-container-text {
    color: black;
}