.edit-button-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    border-right: 1px solid rgb(215, 215, 215);
}

.edit-button-container:hover {
    background-color: rgb(224, 224, 224);
}

.edit-button-container-text {
    margin: auto
}